#root {
 width: 100vw;
 height: 100vh;
 background-color: #ffffff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row{
  border-bottom: solid 1px #e0e0e0
}

.add-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-2);
  background-color: #ffffff00;
  border: none;
  color: gray;

  .icon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #dc4b3e;
    color: #ffffff;
  }

  
  &:hover{
    color: #dc4b3e;
    .icon {
      background-color: #ffffff;
      color: #dc4b3e;
    }
  }
}

.form-wrapper{
  border-radius: var(--space-4);
  border: solid 1px #e0e0e0
}
